.main_mjk {
  padding-top: 90px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    display: none;
  }
}

.nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  padding: var(--space-large) var(--space-xxl);
  margin-bottom: var(--space-xl);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-color);

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
  }

  &_logo {
    flex: 1;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
  }

  &_search {
    flex: 1;
    position: relative;
    max-width: 235px;
    text-align: center;

    .fa-search,
    .fa-times-circle {
      position: absolute;
      top: 16px;
      color: var(--color-grey);
      font-size: var(--fs-xs);
      transform: translateY(-50%);
    }

    .fa-search {
      left: 36%;
    }
    .fa-times-circle {
      opacity: 0;
    }
  }

  &_input {
    width: 235px;
    padding: var(--space-small) var(--space-xxl);
    color: var(--color-grey);
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: var(--fs-medium);
    text-align: center;

    &::placeholder {
      text-align: center;
    }

    &:focus,
    &:focus::placeholder {
      text-align: start;
    }

    &:focus + .fa-search,
    .active + .fa-search {
      left: 5%;
    }

    &:focus ~ .fa-times-circle,
    .active ~ .fa-times-circle {
      right: 5%;
      opacity: 1;
    }
  }

  &_icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    font-size: 24px;

    i {
      padding-right: var(--space-large);
    }
  }

  #menu_btn {
    position: relative;

    .user {
      &_icon {
        padding: 2px;
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid red;

        &:hover {
          cursor: pointer;

          &:active {
            transform: scale(0.9);
          }
        }
      }

      &_menu {
        position: absolute;
        right: -27px;
        top: 52px;
        width: 200px;
        background-color: var(--color-white);
        border-radius: 4px;
        box-shadow: 1px 1px 5px 1px #cecccc;
        font-size: var(--fs-small);
        z-index: 2;

        &::before {
          content: '';
          position: absolute;
          top: -8px;
          right: 37px;
          width: 14px;
          height: 14px;
          background-color: var(--color-white);

          border-top: 1px solid var(--border-color);
          border-left: 1px solid var(--border-color);
          transform: rotate(45deg);
        }

        li {
          padding: var(--space-medium);
          text-align: center;

          &:last-child {
            padding: var(--space-medium) var(--space-xl);
            border-top: 1px solid var(--border-color);
          }

          &:hover {
            background-color: var(--bg-color);
          }

          i {
            padding-right: var(--space-small);
          }
        }
      }
    }
  }
}

.nav_search_result {
  position: absolute;
  left: -80px;
  top: 42px;
  width: 375px;
  min-height: 400px;
  padding: var(--space-xl) var(--space-large);

  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: 1px 1px 5px 1px #cecccc;
  text-align: center;
  opacity: 0;

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 50%;
    width: 14px;
    height: 14px;

    background-color: var(--color-white);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    transform: rotate(45deg);
  }

  &:focus ~ .nav_search_result {
    opacity: 1;
  }
}

.search_result_header {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--space-xl);
}

.search_history {
  font-weight: bold;

  &_delete {
    color: var(--active-color);
    font-size: var(--fs-small);
    font-weight: bold;
  }
}

.search_result_lists {
  position: relative;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--space-medium);

    i {
      color: var(--color-grey);
      font-size: var(--fs-large);
    }

    .user {
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
  }
}

.main_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.section {
  width: 620px;
  margin-right: var(--space-xxl);
  overflow: hidden;
}

.feed {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-xxl);
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  border-radius: 4px;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: var(--space-large);
  }

  &_image {
    width: 620px;
    height: 620px;
    object-fit: cover;
  }

  &_contents {
    padding: var(--space-large);
  }

  &_icons {
    &_row {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
    }

    i {
      margin-right: var(--space-large);

      &:first-child {
        color: red;
      }
    }
  }

  &_likes {
    padding: var(--space-medium) 0;
  }

  &_user_comment {
    padding: var(--space-small) 0;
  }

  &_comment_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: var(--space-small) 0;
  }

  &_controls {
    font-size: var(--fs-xs);
  }

  &_posting_time {
    color: var(--color-grey);
    font-size: var(--fs-xs);
  }

  &_new_comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: var(--space-large);
    border-top: 1px solid var(--border-color-light);
  }
  &_comment {
    max-width: 530px;
    padding: var(--space-small) 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &_text {
    display: flex;
    align-items: center;
    width: 90%;

    i {
      margin-right: var(--space-medium);
      font-size: var(--fs-xxl);
    }
  }

  &_input {
    width: 100%;
    padding: var(--space-medium) 0;
  }
}

.feeder {
  &_info {
    display: flex;
    align-items: center;
  }

  &_avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding: 3px;
    margin-right: var(--space-large);
    border-radius: 50%;
    border: 2px solid red;
  }

  &_comment {
    display: inline-block;
    max-width: 380px;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: #00376b;
    }
  }

  &_id {
    margin-right: var(--space-medium);
    font-weight: bold;
  }
}

.friend {
  &_id {
    display: inline-block;
    font-weight: bold;
  }

  &_comment {
    margin-left: var(--space-medium);
  }
}
#like_btn {
  margin-right: var(--space-small);

  &.active {
    color: red;
  }
}

#posting_btn {
  font-size: var(--fs-medium);
  font-weight: bold;
  color: var(--inactive-color);

  &.active {
    color: var(--active-color);
  }
}

.aside {
  .wrapper {
    position: sticky;
    top: 20px;
  }

  .user {
    display: flex;
    align-items: center;
    margin-bottom: var(--space-large);
  }
}
.user_img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: var(--space-large);

  .small {
    width: 46px;
    height: 46px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: var(--space-large);
  }
}

.user_info {
  text-align: left;
}

.user_id {
  font-weight: bold;
  margin-bottom: var(--space-small);

  .fa-certificate {
    color: var(--active-color);
    font-size: var(--fs-small);
  }
}

.user_tag {
  color: var(--color-grey);
}

.sidebox {
  width: 310px;
  height: 290px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: var(--space-large);
  margin-bottom: var(--space-large);
}

.sidebox_header {
  display: flex;
  justify-content: space-between;
}

.sidebox_title {
  color: var(--color-grey);
  font-weight: bold;
  margin-bottom: var(--space-large);
}

.sidebox_show_all {
  font-weight: bold;
}

.miscellaneous {
  width: 310px;
  font-size: var(--fs-small);
  color: var(--color-grey);
  margin-bottom: var(--space-large);
}

footer {
  font-size: var(--fs-small);
  color: var(--color-grey);
}

@media screen and (max-width: 1000px) {
  .main_container {
    flex-direction: column;
  }

  .section {
    margin: 0 auto;
  }

  .aside {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    &_search {
      display: none;
    }

    &_icons {
      font-size: var(--fs-xxl);
    }
  }

  .section {
    width: 420px;
    margin: 0 auto;
  }

  .feed {
    &_contents {
      padding: var(--space-medium);
    }

    &_image {
      width: 420px;
      height: 420px;
    }

    &_likes {
      padding: 7px 0px;
      font-size: var(--fs-small);
    }

    &_icons_row {
      font-size: var(--fs-xxl);
    }

    &_user_comment {
      padding: 3px 0px;
      font-size: var(--fs-small);
    }

    &_comment {
      max-width: 360px;
      padding: var(--space-small) 0;
    }

    &_new_comment {
      height: 40px;
      padding: var(--space-small);
    }

    &_text {
      i {
        margin-right: var(--space-medium);
        font-size: var(--fs-xl);
      }
    }

    &_comment_list {
      font-size: var(--fs-small);
    }
  }

  .feeder_comment {
    max-width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #posting_btn {
    font-size: var(--fs-small);
    color: var(--inactive-color);
  }
}
