$darkBlueColor: #114271;
$greyColor: #fafafa;
$whiteColor: white;
$lightGreyColor: rgba(0, 0, 0, 0.2);
$loginBoxColor: #ffffff;
$loginFormColor: rgba(197, 225, 251, 0.7);
$loginBoxBorder: 1px solid rgba(0, 0, 0, 0.2);
$inputBorder: 1px solid rgba(0, 0, 0, 0.1);
$greyBorder: rgba(0, 0, 0, 0.2);

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $greyColor;
}

.mainLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBox {
  height: 380px;
  width: 350px;
  background-color: $loginBoxColor;
  border: $loginBoxBorder;
  border-radius: 1px;
}

.loginHeader {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  color: $lightGreyColor;
  input {
    display: flex;
    padding: 12px 10px;
    margin-bottom: 10px;
    border: $inputBorder;
    border-radius: 2px;
    background-color: $greyColor;
    color: $greyBorder;
  }
  button {
    padding: 12px 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    color: $whiteColor;
    border-radius: 3px;
    border: none;
    background-color: $loginFormColor;
    font-weight: bold;
  }
}

.forgotPassword {
  text-align: center;
  font-size: 12px;
  a {
    color: var(--darkBlueButton);
    text-decoration: none;
  }
}
